# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Database files (jika ada SQLite)
*.db
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
